.imageSlider {
  padding: 0 80px;
  position: relative;
}

.imageSlider .next-btn,
.imageSlider .back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #da2d2d;
  z-index: 10;
}
.imageSlider .back-btn {
  right: auto;
  left: 0;
}
.imageSlider .slider {
  overflow: hidden;
  padding-top: 1rem;
}
.imageSlider .slider ul {
  display: flex;
  width: 1000%;
  overflow-x: hidden;
  transition: 0.5s;
}
.imageSlider .slider ul li {
  list-style: none;
  width: 12.5%;
  padding: 20px;
}
.imageSlider .slide {
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
}

.imageSlider .pair {
  display: flex;
  width: 100%;
}
.imageSlider .slide img {
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 250px;
  max-height: 200px;
  object-fit: cover;
}
.imageSlider .user-info {
  text-align: right;
  min-width: 130px;
}
.imageSlider .user-info h3 {
  color: #da2d2d;
}

/* -----media query----- */

@media (max-width: 800px) {
  .imageSlider .testimonials {
    padding: 0 25px;
  }
  .imageSlider .next-btn,
  .imageSlider .back-btn {
    padding: 10px;
    width: 35px;
  }
  .imageSlider .testimonials ul li {
    padding: 10px;
  }
  .imageSlider .slide {
    padding: 10px;
  }
}
