.testimonials {
  padding: 0 80px;
  position: relative;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #da2d2d;
  z-index: 10;
}
.back-btn {
  right: auto;
  left: 0;
}
.testimonials .slider {
  overflow: hidden;
}
.testimonials .slider ul {
  display: flex;
  overflow-x: hidden;
  transition: 0.5s;
}
.testimonials .slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}
.testimonials .slide {
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
}

.testimonials .pair {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .slide img {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
}
.testimonials .user-info {
  text-align: right;
  min-width: 130px;
}
.testimonials .user-info h3 {
  color: #da2d2d;
}

.testimonials .user-info {
  display: block;
  margin-bottom: 10px;
}

.testimonials .slider p {
  display: block;
  padding-top: 25px;
}

.testimonials .slider ul li {
  width: 100%;
}
.testimonials .slide {
  display: flex;
  gap: 20px;
}
.testimonials .slider ul li:nth-child(even) .slide {
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .testimonials {
    padding: 0 25px;
  }
  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }
  .testimonials ul li {
    padding: 10px;
  }
  .testimonials .slide {
    padding: 10px;
  }
  .testimonials .slider p {
    font-size: 12px;
  }
}
