.testimonials {
  padding: 0 80px;
  position: relative;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #da2d2d;
  z-index: 10;
}
.back-btn {
  right: auto;
  left: 0;
}
.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 1000%;
  overflow-x: hidden;
  transition: 0.5s;
}
.slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}
.slide {
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
}

.pair {
  display: flex;
  width: 100%;
}
.slide img {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
}
.user-info {
  text-align: right;
  min-width: 130px;
}
.user-info h3 {
  color: #da2d2d;
}

/* -----media query----- */

@media (max-width: 800px) {
  .testimonials {
    padding: 0 25px;
  }
  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }
  .testimonials ul li {
    padding: 10px;
  }
  .slide {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .user-info h3 {
    font-size: 16px;
  }
  .slider p {
    font-size: 12px;
    display: block;
    padding-top: 25px;
  }

  .slider ul li {
    width: 100%;
  }
  .slide {
    display: flex;
    gap: 20px;
  }
  .slider ul li:nth-child(even) .slide {
    flex-direction: row-reverse;
  }
  .pair {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
